.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselItemImg {
    height: 23em;
    width: 35em;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(201, 201, 201, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselItem {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0;
}

.carouselBtns {
    width: 35em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.carouselBtns button:hover {
    background-color: #f0f0f0;
}

.carouselBtns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 3em;
    width: 3em;
    border: none;
}

.carouselDots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
    height: 10px;
    width: 10px;
}

@media only screen and (max-width: 600px) {

    .carouselContainer {
        padding-top: 1em;
    }

    .carouselItemImg {
        height: 16em;
        width: 15em;
    }

    .carouselItem {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .carouselBtns {
        width: 15em;
        padding-top: 0.75em;
    }

    .carouselBtns button {
        width: 1.75em;
        height: 1.75em;
    }

    .dot {
        height: 5px;
        width: 5px;
    }

    .dot.active {
        height: 7px;
        width: 7px;
    }
}