@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #000000;
    color: #FFFFFF;

    padding: 0.75em 8em;

    font-family: Inter;
    font-size: 0.8rem;
}

.footerContainer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;

}

.logo {
    font-weight: 600;
}

.logo img {
    height: 1.5em;
    width: auto;
}

.copyright {
    color: #a8a8a8;
    font-size: 0.8rem;
}

.socialBtns {
    display: flex;
    flex-direction: row;

}

@media only screen and (max-width: 600px) {
    .footerContainer {
        padding: 1em 1em;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto, 2);

        font-size: 0.6rem;
    }

    .logo {
        grid-column: 1 / 2;
    }

    .copyright {
        grid-row: 2 / 3;
        font-size: 0.6rem;
    }

    .socialBtns {
        grid-column: 2 / 3;
        justify-content: end;
    }
}