@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter_28pt-Regular.ttf);
}

.generalBtn {
    background-color: #000000;
    border-radius: 10px;

    color: #FFFFFF;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;

    width: 14em;
    height: 3.5em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.generalBtn span {
    display: inline-block;
    padding-top: 0.25em;
    position: relative;
    transition: 0.5s;
}

.generalBtn:hover span{
    padding-left: 15px;
}

@media only screen and (max-width: 600px) {
    .generalBtn {
        font-size: 0.75em;
        width: 100%;
        font-weight: bold;
    }
}