* {
    border: 1px solid;
}

.productDescriptionPage {
    background-color: #FDFDFD;
    padding: 2em 8em 2em;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 2em;
}

.productDescriptionPage div {
    height: fit-content;
}

.checkoutDiv {
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .productDescriptionPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0em;
        column-gap: 0;
    }

    .checkoutDiv {
        padding-top: 0em;
    }

}