@font-face {
    font-family: DM Sans;
    src: url(../../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter_28pt-Regular.ttf);
}

.heroBanner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;         
    justify-items: center;       
    background-color: #EAEEEF;
    border-radius: 40px;
    padding: 2em;
}

.heroText {
    font-family: DM Sans;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.promo {
    color: #EC5E2A;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: right;
}

.promo span {
    color: #000000;
    font-size: 4rem;
    text-align: left;
}

.subText {
    font-family: Inter;
    color: #67696E;
    text-align: left;
    padding: 1em 0em 3em;
}

.heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg img {
    width: 100%;
    height: auto;
    max-width: 40em;
    min-width: 10em;
}

@media only screen and (max-width: 600px) {
    .heroComponent {
        padding: 1em 0.75em 1em;
        border-radius: none;
    }

    .heroBanner {
        padding: 1.75em 1em 2em;
        border-radius: 20px;      
        
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        gap: 0.75em;
        justify-items: center;
        align-items: center;
    }

    .heroText {
        grid-row: 2 / 3;
        align-items: center;
    }

    .promo, .promo span {
        font-size: 1.75rem;
        align-items: center;
    }

    .promo span {
        font-size: 2.35rem;
    }

    .subText {
        font-size: 0.65rem;
        font-weight: 400;

        padding: 1.75em 0 2.5em;
    }

    .heroImg {
        grid-row: 1 / 2;
        padding-top: 0.75em;
    }

    .heroImg img {
        width: 7em;
    }
}