@font-face {
    font-family: DM Sans;
    src: url(../../assets/fonts/DMSans_24pt-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter_28pt-Regular.ttf);
}

* {
    border: 1px solid;
}

.heroBanner {
    background-color: #EAEEEF;
    border-radius: 40px;

    padding: 3em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.heroText {
    font-family: DM Sans;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.promo {
    color: #EC5E2A;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
}

.promo span {
    color: #000000;
    font-size: 4rem;
}

.subText {
    font-family: Inter;
    color: #67696E;
    padding: 1em 0em 3em;
}

.heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg img {
    width: 100%;
    height: auto;
    max-width: 40em;
    min-width: 10em;
}

@media only screen and (max-width: 600px) {
    .heroComponent {
        padding: 2em 0em 4em;
        border-radius: none;
    }

    .heroBanner {
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    .promo, .promo span {
        font-size: 2rem;
    }

    .subText {
        font-size: 0.75rem;
    }

    .heroImg {
        padding-top: 0.75em;
    }

    .heroImg img {
        width: 6em;
    }
}