@font-face {
    font-family: DM Sans;
    src: url(../../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter_28pt-Regular.ttf);
}

.productItem {
    padding: 1em 0 3em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    transition: 0.15s;
    cursor: pointer;
}

.productItem:hover {
    transform: scale(1.02);
}

.productItem img {
    width: 100%;
    height: auto;
    max-width: 18em;
}

.productDescription {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding-top: 1em;
    color: #000000;
}

.productBrand {
    font-family: DM Sans;
    font-size: 1.25em;
    font-weight: 700;
}

.productName {
    font-family: Inter;
    font-size: 1rem;
    color: #67696E;
}

.productPrice {
    font-family: DM Sans;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 0.5em;
}

@media only screen and (max-width: 600px) {
    .productItem {
        padding-top: 1em;
        transition: 1s cubic-bezier(0.39, 0.575. 0.565, 1);
    }

    .productItem img {
        width: 8.5em;
    }

    .productDescription {
        padding-top: 0.15em;
        gap: 0.2em;
    }

    .productBrand, .productPrice {
        font-size: 0.65rem;
    }

    .productName {
        font-size: 0.5rem;
    }
}