* {
    margin: 0;
    /* border: 1px solid white; */
}

.container {
    background-color: #FDFDFD;
    min-height: 100vh;
    max-width: 100vw;
}

.heroComponent {
    padding: 2em 8em 4em;
}

.productListComponent {
    padding: 0em 8em;
}